---
title: Complex number - Calculus-related tools
layout: default
---

<h1 class="text-center text-color">{{ page.title }}</h1>
{% include _credits/maths.html %}

<div class="p-3 border-color container fs-5 mt-5">
    <p>
        <label for="type">Operation</label>
        <select name="type" id="type" oninput="handleSecondInput()">
            <option name="negative">negative</option>
            <option name="conjugate">conjugate</option>
            <option name="sum">sum</option>
            <option name="product">product</option>
            <option name="inverse">inverse</option>
        </select>
    </p>

    <!-- enter the values -->
    <div class="row">
        <div class="col form-control bg-transparent border-0">
            <h4><b>Value 1</b></h4>
            <label for="real1" class="pb-3 fs-5 text-color">Real part</label>
            <p><input type="text" value="3" id="real1"></p>
            <label for="imaginary1" class="pb-3 fs-5 text-color">Imaginary part</label>
            <p><input type="text" value="4" id="imaginary1"></p>
        </div>
        <div id="div2" class="col form-control bg-transparent border-0" hidden>
            <h4><b>Value 2</b></h4>
            <label for="real2" class="pb-3 fs-5 text-color">Real part</label>
            <p><input type="text" value="3" id="real2"></p>
            <label for="imaginary2" class="pb-3 fs-5 text-color">Imaginary part</label>
            <p><input type="text" value="4" id="imaginary2"></p>
        </div>
    </div>

    <div class="mt-3 text-end">
        <button onclick="process()">Submit</button>
    </div>

    {% include _lib/algebra.html %}

    <script>
        const real_part_1_f = document.querySelector('#real1')
        const imaginary_part_1_f = document.querySelector('#imaginary1')
        const real_part_2_f = document.querySelector('#real2')
        const imaginary_part_2_f = document.querySelector('#imaginary2')
        const type_f = document.querySelector('#type')
        const second_div = document.querySelector('#div2')

        function process() {
            let c1 = { re: Number(real_part_1_f.value), im: Number(imaginary_part_1_f.value) };
            let c2 = undefined;

            if (type_f.value === 'sum' || type_f.value === 'product') {
                c2 = { re: Number(real_part_2_f.value), im: Number(imaginary_part_2_f.value) };
            }

            if (!Number.isFinite(c1.re)) { showError('invalid value for "real part" for c1'); return; }
            if (!Number.isFinite(c1.im)) { showError('invalid value for "imaginary part" for c1'); return; }
            if (c2 !== undefined && !Number.isFinite(c2.re)) { showError('invalid value for "real part" for c2'); return; }
            if (c2 !== undefined && !Number.isFinite(c2.im)) { showError('invalid value for "imaginary part" for c2'); return; }

            c1 = inbrowser_algebra.createComplex(c1.re, c1.im);
            if (c2 !== undefined) c2 = inbrowser_algebra.createComplex(c2.re, c2.im);

            let res = null;
            switch (type_f.value) {
                case 'sum': res = inbrowser_algebra.addComplex(c1, c2); break;
                case 'product': res = inbrowser_algebra.multiplyComplex(c1, c2); break;
                case 'inverse': res = inbrowser_algebra.getInverse(c1); break;
                case 'negative': res = inbrowser_algebra.getNeg(c1); break;
                case 'conjugate': res = inbrowser_algebra.getConjugate(c1); break;
            }
            results.hidden = false;
            results_div.innerHTML = `The result is <b>${res}</b>!`;
        }

        function showError(msg) {
            results.hidden = false;
            results_div.innerHTML = msg;
        }

        function handleSecondInput() {
            switch (type_f.value) {
                case 'sum': case 'product': second_div.hidden  = false; break;
                default: second_div.hidden  = true; break;
            }
        }
    </script>
</div>

{% include _partial/results_div.html mathjax="true" %}