<h3 class="text-color">{{ include.title }}</h3>

<!--
ASK FOR THE SIZE
-->
<ul class="list-inline">
    <li class="list-inline-item">
        <label for="input-rows-{{ include.modifier }}" class="text-color">Rows</label>
        <input type="number" id="input-rows-{{ include.modifier }}" oninput="regenerateMatrix('{{ include.modifier }}')" value="3"
               style="max-width: 50px">
    </li>
</ul>

<input hidden type="number" id="input-columns-{{ include.modifier }}" value="1">

<div class="d-flex">
    <div class="table-responsive col-12 justify-content-center">
        <table class="" id="matrix-{{ include.modifier }}"></table>
    </div>
</div>

{% include _math/utils/generate_table.html %}

<script>
    regenerateMatrix("{{ include.modifier }}", "");
</script>