<h3 class="text-color">Fill your matrix {{ include.modifier }}</h3>

<!--
ASK FOR THE SIZE
-->
<ul class="list-inline">
    {% if include.square_matrix == "true" %}
    <li class="list-inline-item">
        <label for="size-{{ include.modifier }}" class="text-color">Size</label>
        <input type="number" id="size-{{ include.modifier }}" oninput="regenerateSquareMatrix('{{ include.modifier }}')" value="3"
               style="max-width: 50px">
    </li>
    {% else %}
    <li class="list-inline-item">
        <label for="input-columns-{{ include.modifier }}" class="text-color">Columns</label>
        <input type="number" id="input-columns-{{ include.modifier }}" oninput="regenerateMatrix('{{ include.modifier }}')" value="3"
               style="max-width: 50px">
    </li>
    <li class="list-inline-item">
        <label for="input-rows-{{ include.modifier }}" class="text-color">Rows</label>
        <input type="number" id="input-rows-{{ include.modifier }}" oninput="regenerateMatrix('{{ include.modifier }}')" value="4"
               style="max-width: 50px">
    </li>
    {% endif %}
</ul>

<div class="d-flex">
    <div class="table-responsive col-12 justify-content-center">
        <table class="" id="matrix-{{ include.modifier }}"></table>
    </div>
</div>

{% include _math/utils/generate_table.html %}

{% if include.square_matrix == "true" %}
<script>
    regenerateSquareMatrix("{{ include.modifier }}", "");
</script>
{% else %}
<script>
    regenerateMatrix("{{ include.modifier }}", "");
</script>
{% endif %}