---
title: PDF tools | InBrowser
layout: default
---

<section class="mb-5">
    <div class="container">
        <div class="row fs-5 text-color">
            <h1 class="col-12 text-center">PDF tools</h1>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% include _partial/tool_card.html
                title="Image to PDF"
                content="Convert several kinds of image files to PDF"
                href="convert/image2pdf.html"
                icon="card-image"
                %}
                {% include _partial/tool_card.html
                title="Merge PDF"
                content="Convert several kinds of image files to PDF"
                href="utils/merge_pdf.html"
                icon="file-earmark-pdf"
                %}
            </div>
        </div>
    </div>
</section>