---
title: Evaluate function - Calculus-related tools
layout: default
---

<h1 class="text-center text-color">{{ page.title }}</h1>
{% include _credits/maths.html %}

<div class="p-3 border-color container fs-5 mt-5">
    <!-- enter function -->
    <div class="row">
        <div class="col form-control bg-transparent border-0">
            <label for="function" class="pb-3 fs-5 text-color">Your function</label>
            <input type="text" value="x^2" id="function" class="form-control mathjax_process" oninput="updatePreview()">
        </div>
        <div class="col form-control bg-transparent border-0">
            <label for="function-review" class="pb-3 fs-5 text-color">Preview</label>
            <p id="function-review" class="form-control" style="opacity: 0.8;"></p>
        </div>
    </div>

    <hr class="text-color">

    <button class="btn border-color text-color" onclick="updateVariableFields(true)">Add variable</button>
    <button class="btn border-color text-color" onclick="updateVariableFields(false)">Remove variable</button>

    <ul class="pt-3 text-color" id="variables">
        <li><label>Variable name: <input type="text" class="px-2" value="x"></label> =
            <label><input type="text" value="5"></label></li>
    </ul>

    <div class="mt-3 text-end">
        <button onclick="process()">Submit</button>
    </div>

    {% include _lib/calculus.html %}

    <script>
        const function_field = document.querySelector('#function')
        const function_preview = document.querySelector('#function-review')
        const inputFields = document.querySelector('#variables')

        function process() {
            // parse parameters
            let li_tags = inputFields.children;
            let variables = {}
            for (const tags of li_tags) {
                if (tags.hidden) continue;
                variables[tags.children[0].children[0].value] =
                    tags.children[1].children[0].value
            }
            // get result
            let json = inbrowser_calculus.evaluate_function(function_field.value, variables)
            results.hidden = false;
            // show
            if (json.result === undefined || json.result == null) {
                results_div.innerHTML = json.error ?? "Invalid input.";
            } else {
                results_div.innerHTML = `The result is <b>${json.result}</b>!`;
            }
        }
    </script>
</div>

<script>
    /**
     * Add/Remove variables
     */
    function updateVariableFields(increase=true) {
        let real_number_of_elements = inputFields.children.length;
        let number_of_elements = 0
        for (const child of inputFields.children) {
            if (child.hidden) break;
            number_of_elements++;
        }

        if (increase) {
            // ex: two elements, 1 was hidden
            // 1 != 2
            // then children[1] is shown (=> both 0 and 1 are shown)
            if (number_of_elements !== real_number_of_elements) {
                // show back
                inputFields.children[number_of_elements].hidden = false;
            } else {
                // create one
                let li = document.createElement('li');
                li.innerHTML = "<label>Variable name: <input type=\"text\" class=\"px-2\" value=\"x\"></label> =" +
                    "<label><input type=\"text\" value=\"5\"></label>"
                inputFields.appendChild(li);
            }
        } else {
            // we got something to remove
            if (number_of_elements !== 0) {
                inputFields.children[number_of_elements-1].hidden = true;
            }
        }
    }
</script>

{% include _partial/results_div.html mathjax="true" %}

<!--
Preview
-->
<script>
    /**
     * Update the preview
     */
    function updatePreview() {
        try {
            function_preview.innerHTML = `\\[${mathjs.parse(function_field.value)}\\]`
        } catch(e) {
            console.log(e.message)
            function_preview.innerHTML =
                `<mjx-container class="MathJax CtxtMenu_Attached_0" jax="CHTML" display="true" tabindex="0" ctxtmenu_counter="4" style="font-size: 113.1%; position: relative;"><mjx-math display="true" class="MJX-TEX" aria-hidden="true" style="margin-left: 0px; margin-right: 0px;"><mjx-merror data-mjx-error="${e.message}"><mjx-mtext style="font-family: MJXZERO, serif;"><mjx-utext variant="-explicitFont" style="font-size: 88.4%; padding: 0.848em 0px 0.226em;">${e.message}</mjx-utext></mjx-mtext></mjx-merror></mjx-math><mjx-assistive-mml unselectable="on" display="block"><math xmlns="http://www.w3.org/1998/Math/MathML" display="block"><merror data-mjx-error="${e.message}"><mtext>${e.message}</mtext></merror></math></mjx-assistive-mml></mjx-container>`
        }
        // too soon, unneeded
        if (MathJax.typesetPromise === undefined) return;
        MathJax.typesetPromise();
    }
    updatePreview();
</script>