<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js" integrity="sha512-EbdJQSugx0nVWrtyK3JdQQ/03mS3Q1UiAhRtErbwl1YL/+e2hZdlIcSURxxh7WXHTzn83sjlh2rysACoJGfb6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    async function parseCSVToJson(inputFieldID, delimiter="") {
        // get file
        const file = document.querySelector(inputFieldID).files[0]
        if (file === undefined) return {data:null, cols: null};

        // get content
        const fileContent = await file.text();

        // parse
        let i = -1;
        const cols = new Map();
        const json = Papa.parse(fileContent, { delimiter: delimiter, comments: true, skipEmptyLines: true,
            transform: (e, c, r) => {
                if (c === 0) i++;
                if (!isNaN(e) && Number.isFinite(parseFloat(e)))  return e;
                if (i !== 0){
                    cols.set(c, (cols.get(c)?? 0) + 1)
                    return 0;
                }
                return e;
            }
        });
        return {data: json.data, cols: [... cols.keys()]};
    }
</script>