<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.1/papaparse.min.js" integrity="sha512-EbdJQSugx0nVWrtyK3JdQQ/03mS3Q1UiAhRtErbwl1YL/+e2hZdlIcSURxxh7WXHTzn83sjlh2rysACoJGfb6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    async function parseCSVToJson(inputFieldID) {
        const file = document.querySelector(inputFieldID).files[0]
        const fileContent = await file.text();

        const json = Papa.parse(fileContent, { comments: true, skipEmptyLines: false });
        delete json.data[0]
        json.data.length--;
        return json.data;
    }
</script>