---
title: Matrix-related tools
layout: default
---

<section class="mb-5">
    <div class="container">
        <div class="row fs-5 text-color">
            <h1 class="col-12 text-center">{{ page.title }}</h1>

            <p class="">&nbsp;</p>

            {% include _partial/tool_card.html
            title="Product of two matrices"
            content="Product of A by B."
            href="operations/product.html"
            %}

            {% include _partial/tool_card.html
            title="Inverse of a matrix"
            content="Return A^-1 for a matrix A"
            href="operations/inverse.html"
            %}

            {% include _partial/tool_card.html
            title="Determinant of a matrix"
            content="Return det(A) for a matrix A"
            href="operations/determinant.html"
            %}

            <hr>
            <h1 class="col-12 text-center">Solve Ax=b</h1>

            {% include _partial/tool_card.html
            title="LU factorization"
            content="Calculate AX=b using the LU factorization."
            href="solve-system/lu.html"
            %}
        </div>
    </div>
</section>