---
title: Matrix tools | InBrowser
layout: default
---

<section class="mb-5">
    <div class="container">
        <div class="row fs-5 text-color">
            <h1 class="col-12 text-center">Matrix tools</h1>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% include _partial/tool_card.html
                title="Product of two matrices"
                content="Product of A by B."
                href="operations/product.html"
                icon="rulers"
                %}

                {% include _partial/tool_card.html
                title="Inverse of a matrix"
                content="Return A^-1 for a matrix A"
                href="operations/inverse.html"
                icon="lightbulb"
                %}

                {% include _partial/tool_card.html
                title="Exponential of a matrix"
                content="Return exp(A) for a matrix A"
                href="operations/exponential.html"
                icon="lightbulb"
                %}

                {% include _partial/tool_card.html
                title="Determinant of a matrix"
                content="Return det(A) for a matrix A"
                href="operations/determinant.html"
                icon="lightbulb"
                %}

                {% include _partial/tool_card.html
                title="LU factorization"
                content="Calculate AX=b using the LU factorization."
                href="solve-system/lu.html"
                icon="lightning"
                %}

                {% include _partial/tool_card.html
                title="Evaluate AX=Y"
                content="Calculate AX=Y."
                href="solve-system/ax=y.html"
                icon="magic"
                %}
            </div>
        </div>
    </div>
</section>