---
title: Summary of a CSV - Statistics-related tools
layout: default
---

<h1 class="text-center text-color">{{ page.title }}</h1>
{% include _credits/maths.html %}

<div class="p-3 border-color container fs-5 mt-5">
    <h5 class="h4 pb-3">Please, select a CSV</h5>

    <input type="file" name="upload">

    <details class="mt-3 border-color p-3">
        <summary>Options</summary>

        <table class="table border-color table-bordered table-striped mt-3">
            <tr>
                <td>Compute</td>
                <td>
                    <ul class="pt-3 list-unstyled">
                        <li><label><input type="checkbox" class="options" id="empirical_mean" checked> Empirical mean</label></li>
                        <li><label><input type="checkbox" class="options" id="empirical_variance" checked> Empirical variance</label></li>
                        <li><label><input type="checkbox" class="options" id="empirical_std_deviation" checked> Empirical square deviation</label></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><label for="have_header">The first line is the name of the columns</label></td>
                <td><input id="have_header" type="checkbox" checked></td>
            </tr>
            <tr>
                <td><label for="delimiter">Separator</label></td>
                <td><select id="delimiter">
                    <option name="">autodetect</option>
                    <option name=" ">space</option>
                    <option name=",">comma (,)</option>
                    <option name=";">semi-colon  (;)</option>
                    <option name=":">colon  (;)</option>
                </select></td>
            </tr>
        </table>
    </details>

    <div class="mt-3 text-end">
        <button onclick="process()">Submit</button>
    </div>

    {% include upload_csv.html %}
    {% include _lib/statistics.html %}

    <script>
        const delimiter = document.querySelector('#delimiter')

        async function process() {
            let sep = delimiter.selectedOptions.item(0).getAttribute('name');
            const csv = await parseCSVToJson("input", sep);
            if (csv.data == null) {
                results.hidden = false;
                results_div.innerHTML = 'CSV missing';
                return;
            }

            // parse options
            const optionsFields = document.querySelectorAll('.options');
            const options = inbrowser_statistics.SummaryData.createAllWithValue(false);
            optionsFields.forEach((f) => { options[f.id] = f.checked });

            let have_header = document.getElementById('have_header');
            let headers = [];
            if (have_header.checked) {
                headers = csv.data[0];
                csv.data.shift();
            } else {
                if(csv.data[0] !== undefined) {
                    for (let i = 0; i < csv.data[0].length; i++) {
                        headers.push("Column "+(i+1))
                    }
                }
            }

            try {
                let res = inbrowser_statistics.getSummary(csv.data, options);
                // show
                results.hidden = false;
                results_div.innerHTML = '';

                let columns = '<th>Column</th><th>Empirical mean</th><th>Empirical variance</th><th>Empirical square deviation</th>';
                let body = `<tr><td colspan="4" class="text-center"><b>Number of records</b>: ${csv.data.length}</td></tr>`;

                for (let i = 0; i < headers.length; i++) {
                    const header = headers[i];
                    // if calculated, then ...
                    const mean = res.empirical_mean === false ? null : res.empirical_mean.shift();
                    const variance = res.empirical_variance === false ? null : res.empirical_variance.shift();
                    const std_deviation = res.empirical_std_deviation === false ? null : res.empirical_std_deviation.shift();

                    let bundle = {error: false, text: ""};

                    if (csv.cols.indexOf(i) !== -1) {
                        bundle = {error: true, text: "<td colspan='3'>String detected. Canceled.</td>"};
                    } else {
                        bundle = checkResultAndAppend(mean, bundle);
                        bundle = checkResultAndAppend(variance, bundle);
                        bundle = checkResultAndAppend(std_deviation, bundle);
                    }

                    if (bundle.error) {
                        bundle.error = `<b class="text-danger ps-3">failed</b>`
                    } else {
                        bundle.error = `<small class="text-success ps-3">done</small>`
                    }

                    body +=`<tr><th scope="row">${header} ${bundle.error}</th> ${bundle.text}</tr>`
                }
                results_div.innerHTML = `<table class="table border-color table-bordered table-striped"><thead><tr>${columns}</tr></thead><tbody>${body}</tbody></table>`
            } catch (e) {
                results_div.innerHTML = e.message;
            }
        }

        function checkResultAndAppend(value, bundle) {
            let type = typeof value;
            if (type !== "boolean") {
                if (value != null) {
                    if (type === "string") { // error
                        bundle.error = true;
                    }
                    bundle.text += `<td>${value}</td>`;
                } else {
                    // not calculated
                    bundle.text += `<td>Not calculated</td>`;
                }
                return bundle;
            }
        }
    </script>
</div>

{% include _partial/results_div.html %}