---
title: LU factorization - Matrix-related tools
layout: default
---

<h1 class="text-center text-color">{{ page.title }}</h1>

<!--
SUBMIT DATA
- A
- b
- showSteps
-->
<div class="p-3 border-color container fs-5 mt-5">
    <div class="row">
        <div class="col">
            {% include _math/input_matrix.html modifier="A" generate="true" %}
        </div>
        <div class="col">
            {% include _math/input_vector.html modifier="b" %}
        </div>
    </div>
    <label class="mt-3">
        <input type="checkbox" id="show_steps" checked>
        Show steps (slower)
    </label>

    <div class="mt-3 text-end">
        <button onclick="process()">Submit</button>
    </div>
</div>

<!--
SUBMIT DATA
-->
<script src="/assets/scripts/matrix.bundle.js" type="application/javascript"></script>
<script>
    function process() {

    }
</script>

<!--
PRINT API RESULT
-->
<div class="p-3 border-color container fs-5 mt-5" id="result" hidden>
    <h3>Result</h3>
    <div id="results-div">
    </div>
</div>

<!--
LOAD MATHJAX
-->
{% include mathjax.html %}