@charset "UTF-8";

/* side bar made by https://mladenplavsic.github.io/bootstrap-navbar-sidebar/ */
body{padding-top:90px}
@media (min-width:768px){body{padding-top:0}}
@media (min-width:768px){body{margin-left:232px}}
.navbar.fixed-left{position:fixed;top:0;left:0;right:0;z-index:1030}
@media (min-width:768px){.navbar.fixed-left{bottom:0;width:232px;flex-flow:column nowrap;align-items:flex-start}.navbar.fixed-left .navbar-collapse{flex-grow:0;flex-direction:column;width:100%}.navbar.fixed-left .navbar-collapse .navbar-nav{flex-direction:column;width:100%}.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item{width:100%}.navbar.fixed-left .navbar-collapse .navbar-nav .nav-item .dropdown-menu{top:0}}
@media (min-width:768px){.navbar.fixed-left{right:auto}.navbar.fixed-left .navbar-nav .nav-item .dropdown-toggle:after{border-top:.3em solid transparent;border-left:.3em solid;border-bottom:.3em solid transparent;border-right:none;vertical-align:baseline}.navbar.fixed-left .navbar-nav .nav-item .dropdown-menu{left:100%}}

/* all pages */
.main-panel-background {
    background: #c3c6c9;
}
.normal-link {
    $color: #000;
    color: $color;
    &:hover {
        color: $color;
        opacity: 1.0;
    }
}
.github-link {
    $color: #000;
    color: $color;
    text-decoration: none;
    &:hover { color: $color; opacity: 1.0; }
}
.github-link-nav {
    $color: #FFF;
    color: $color;
    text-decoration: none;
    &:hover { color: $color; opacity: 1.0; }
}
.copyright-text {
    color: rgba(255,255,255,.55);
}
.copyright-separator {
    &-main {
        border-top-color: #000 !important;
    }
}

.card-div {
    color: black;
    background: rgba(255,255,255,0.6);
}

/* a */
.input-variable-field {
    max-width: 100px !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-pdf-pages-field {
    @extend .input-variable-field;
    max-width: 200px !important;
}

.file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}
.file-input label {
    cursor: pointer;
}