@charset "UTF-8";

/** Set the style according to the color scheme **/
:root {
    --gradient-top: #5f8eab;
    --gradient-bottom: #fff;
    --text-color: #000;
    --text-muted-color: rgba(0, 0, 0, 0.5);
    --icon-color: #000;
    --border-color: #000;
    --shadow-box-color: rgba(0, 0, 0, 0.075);
    --toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --toggler-color: rgba(0,0,0,.55);
    --toggler-border: rgba(0,0,0,.1);
    --link-hover-color: rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
    :root {
        --gradient-top: #000;
        --gradient-bottom: #000;
        --text-color: #fff;
        --text-muted-color: rgba(255, 255, 255, 0.8);
        --icon-color: #FC3;
        --border-color: #fff;
        --shadow-box-color: rgba(255, 255, 255, 0.375);
        --toggler-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        --toggler-color: rgba(255,255,255,.55);
        --toggler-border: rgba(255,255,255,.1);
        --link-hover-color: rgba(255, 255, 255, 0.7);
    }
}

/** add the gradient background **/
.add-main-bg {
    background: linear-gradient(0deg, var(--gradient-bottom) 0%, var(--gradient-top) 100%) 0 0 / cover no-repeat fixed; }

/** color of the text **/
.text-color { color: var(--text-color); }
.text-muted-color { color: var(--text-muted-color); }
.link-hover-color:hover { color: var(--link-hover-color); }

/** color of our icons **/
.icon-color { color: var(--icon-color) }

/** color of the border **/
.border-top-color { color: var(--border-color); }

/** a little box ~ sort of border, below something **/
.shadow-box-bottom {
    box-shadow: 0 0.125rem 0.25rem var(--shadow-box-color) !important; }

.navbar-toggler-icon {
    background-image: var(--toggler-icon);
    color: var(--toggler-color);
    border-color: var(--toggler-border); }