---
title: Product of two matrices - Matrix-related tools
layout: default
---

<h1 class="text-center text-color">{{ page.title }}</h1>

<!--
SUBMIT DATA
- A
- B
-->
<div class="p-3 border-color container fs-5 mt-5">
    <div class="row">
        <div class="col">
            {% include _math/input_matrix.html modifier="A" generate="true" %}
        </div>
        <div class="col">
            {% include _math/input_matrix.html modifier="B" %}
        </div>
    </div>

    <div class="mt-3 text-end">
        <button onclick="process()">Submit</button>
    </div>
</div>

<!--
SUBMIT DATA
-->
{% include _lib/matrix.html %}

<script>
    const matrix_A = document.querySelector('#matrix-A');
    const matrix_B = document.querySelector('#matrix-B');

    function process() {
        const A_array = tableToArray(matrix_A);
        const B_array = tableToArray(matrix_B);

        const A = inbrowser_matrix.createMatrix(A_array.flat(), matrix_A.colsLength, matrix_A.rowsLength)
        const B = inbrowser_matrix.createMatrix(B_array.flat(), matrix_B.colsLength, matrix_B.rowsLength)

        const json = inbrowser_matrix.matrix_product(A, B)

        console.log(A_array)
        console.log(B_array)

        // show result
        results.hidden = false;
        if (json.result != null) {
            console.log(json.result.toArray())
            results_div.innerHTML = `<p>@A * B = ${matrixToLatex(json.result.toArray())}@</p>`
            MathJax.typesetPromise();
        } else {
            results_div.innerHTML = json.error;
        }
    }
</script>

{% include _partial/results_div.html mathjax="true" %}