<!doctype html>
<html lang="en" class="h-100 add-main-bg">
<head>
    <link rel="stylesheet" type="text/css" href="../assets/style.css"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"
          integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"
            integrity="sha512-PqRelaJGXVuQ81N6wjUrRQelCDR7z8RvKGiR9SbSxKHPIt15eJDmIVv9EJgwq0XvgylszsjzvQ0+VyI2WtIshQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
          integrity="sha512-xnP2tOaCJnzp2d2IqKFcxuOiVCbuessxM6wuiolT9eeEJCyy0Vhcwa4zQvdrZNVqlqaxXhHqsSV1Ww7T2jSCUQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="/assets/style.css" rel="stylesheet">

    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    <title>{{ page.title }}</title>
</head>
<body class="d-flex flex-column h-100 add-main-bg">

<header class="mb-5">
    <nav class="navbar navbar-expand-md shadow-box-bottom">
        <div class="container-fluid">
            <img src="/assets/images/favicon.svg" alt="icon" width="24" height="24" class="me-3" >
            <a class="navbar-brand text-color link-hover-color fs-4" href="/">InBrowser.run</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0 fs-5">
                    <li class="nav-item"><a class="nav-link link-hover-color text-color me-lg-3"
                                            href="/matrix/index.html">Matrices</a></li>
                    <li class="nav-item"><a class="nav-link link-hover-color text-color me-lg-3"
                                            href="/statistics/index.html">Statistics</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container mb-3 mt-md-5">
{{ content }}
</main>

<footer class="footer mt-auto py-3 shadow border-top-color border-top text-center">
    <div class="container px-5">
        <div class="small">
            <div class="text-muted-color mb-2">&copy; InBrowser. All Rights Reserved.</div>
            <a href="https://github.com/inbrowser/inbrowser.github.io"
               target="_blank" rel="noreferrer noopener" class="text-color text-decoration-none link-hover-color fs-5">Github</a>
        </div>
    </div>
</footer>
</body>
</html>