<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"
          integrity="sha512-F7WyTLiiiPqvu2pGumDR15med0MDkUIo5VTVyyfECR5DZmCnDhti9q5VID02ItWjq6fvDfMaBaDl2J3WdL1uxA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"
            integrity="sha512-PqRelaJGXVuQ81N6wjUrRQelCDR7z8RvKGiR9SbSxKHPIt15eJDmIVv9EJgwq0XvgylszsjzvQ0+VyI2WtIshQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css"
          integrity="sha512-xnP2tOaCJnzp2d2IqKFcxuOiVCbuessxM6wuiolT9eeEJCyy0Vhcwa4zQvdrZNVqlqaxXhHqsSV1Ww7T2jSCUQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>{{ page.title }}</title>
</head>
<body class="d-flex flex-column h-100" style="background: linear-gradient(0deg, #ffffff 0%, #5f8eab 100%) no-repeat fixed;background-size: cover;">

<header class="mb-5">
    <nav class="navbar navbar-expand-md navbar-dark text-black shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand text-black fs-4" href="#">InBrowser.run</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            </div>
        </div>
    </nav>
</header>

<main class="container mb-3 mt-md-5">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-8">
                <div class="text-center">
                    <h1 class=""><b>InBrowser</b><br>Tools running in your browser, no server, free, and open-source!</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="mt-5 features-icons mb-5 text-center">
        <div class="container">
            <div class="row fs-5">
                {% include _partial/index_card.html title="Open Source"
                content="The code is hosted on <a href='https://github.com/inbrowser/'
                target='_blank' rel='noopener noreferrer' class='text-dark'>GitHub</a>, both the website and the tools."
                icon="github"
                %}
                {% include _partial/index_card.html title="Privacy" content="Everything is happening in your browser. We are not using cookies or trackers." icon="shield-lock" %}
                {% include _partial/index_card.html title="No ads, free" content="We won't ask you to pay a fee or putting ads everywhere." icon="mailbox" %}
                {% include _partial/index_card.html title="Complete"
                content="We will show you the complete solution. No register. No \"disable AdBlock to see the steps\"."
                icon="gift" %}
                {% include _partial/index_card.html title="User friendly"
                content="We are putting ourselves in your shoes and making
                tools that are usable and convenient to use. We are open to suggestions and ways to improve."
                icon="heart" %}
                {% include _partial/index_card.html title="Documented"
                content="We are writing tests and documentation before coding. We are hoping to make the code as readable and clean as possible,
                in case you are curious as to how we coded something."
                icon="info-circle-fill" %}
            </div>
        </div>
    </section>
</main>

<footer class="footer mt-auto py-3 shadow border text-center">
    <div class="container px-5">
        <div class="small">
            <div class="text-black-50 mb-2">&copy; InBrowser. All Rights Reserved.</div>
        </div>
    </div>
</footer>
</body>
</html>