---
title: Calculator | InBrowser
layout: default
---

{% include _partial/title.html title="Calculator" %}
{% include _credits/maths.html %}

<div class="p-3 border-color container fs-5 mt-0">
    <!-- enter function -->
    <div class="col form-control bg-transparent border-0">
        <label for="function" class="pb-3 fs-5 text-color">Your expression</label>
        <input type="text" value="sqrt(4) * 2^(10)" id="function" class="form-control mathjax_process" oninput="update()">
    </div>
    <div class="col form-control bg-transparent border-0">
        <label for="function-review" class="pb-3 fs-5 text-color">Preview</label>
        <p id="function-review" class="form-control" style="opacity: 0.8;"></p>
    </div>
    <div class="col form-control bg-transparent border-0">
        <label for="function-result" class="pb-3 fs-5 text-color">Result</label>
        <p id="function-result" class="form-control" style="opacity: 0.8;">???</p>
    </div>
</div>

<script>
    function doOperation() {
        return mathjs.evaluate(function_field.value);
    }
</script>

{% include _partial/calculus/function_utils.html %}