---
title: Calculus tools | InBrowser
layout: default
---

<section class="mb-5">
    <div class="container">
        <div class="row fs-5 text-color">
            <h1 class="col-12 text-center">Calculus tools</h1>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% include _partial/tool_card.html
                title="Calculator"
                content="Do some calculations."
                href="calculator.html"
                icon="calculator"
                %}

                {% include _partial/tool_card.html
                title="Evaluate Function"
                content="You can write a function and evaluate it with some parameters."
                href="functions.html"
                icon="calculator"
                %}

                {% include _partial/tool_card.html
                title="Complex Numbers"
                content="You can do some operations on complex numbers."
                href="complex.html"
                icon="calculator"
                %}
            </div>
        </div>
    </div>
</section>