---
title: Calculus-related tools
layout: default
---

<section class="mb-5">
    <div class="container">
        <div class="row fs-5 text-color">
            <h1 class="col-12 text-center">{{ page.title }}</h1>

            <p class="">&nbsp;</p>

            {% include _partial/tool_card.html
            title="Evaluate function"
            content="Get the result of a function, given parameters."
            href="functions/evaluate.html"
            %}

            {% include _partial/tool_card.html
            title="Primitive function"
            content="Calculate the primitive function."
            href="functions/primitive.html"
            %}

            {% include _partial/tool_card.html
            title="Derivative function"
            content="Calculate the derivative of a function."
            href="functions/derivative.html"
            %}

            <hr>
            <h1 class="col-12 text-center">Complex numbers</h1>

            {% include _partial/tool_card.html
            title="Complex number"
            content="Operations on complex numbers"
            href="complex/operations.html"
            %}
        </div>
    </div>
</section>