{% include mathjax.html %}
{% include mathjs.html %}

<!--
Preview
-->
<script>
	const function_field = document.querySelector('#function')
	const function_preview = document.querySelector('#function-review')
	const function_result = document.querySelector('#function-result')

	function update() {
		// update preview
		try {
			let r = `\\[${mathjs.parse(function_field.value)}\\]`
			r = r.replaceAll('(', '{')
			r = r.replaceAll(')', '}')
			r = r.replaceAll('sqrt', '\\sqrt');
			r = r.replaceAll('log', '\\log');
			function_preview.innerHTML = r;
		} catch(e) {
			function_preview.innerHTML =
				`<mjx-container class="MathJax CtxtMenu_Attached_0" jax="CHTML" display="true" tabindex="0" ctxtmenu_counter="4" style="font-size: 113.1%; position: relative;"><mjx-math display="true" class="MJX-TEX" aria-hidden="true" style="margin-left: 0px; margin-right: 0px;"><mjx-merror data-mjx-error="${e.message}"><mjx-mtext style="font-family: MJXZERO, serif;"><mjx-utext variant="-explicitFont" style="font-size: 88.4%; padding: 0.848em 0px 0.226em;">${e.message}</mjx-utext></mjx-mtext></mjx-merror></mjx-math><mjx-assistive-mml unselectable="on" display="block"><math xmlns="http://www.w3.org/1998/Math/MathML" display="block"><merror data-mjx-error="${e.message}"><mtext>${e.message}</mtext></merror></math></mjx-assistive-mml></mjx-container>`
		}

		try {
			let r = `\\[${doOperation()}\\]`
			r = r.replaceAll('(', '{')
			r = r.replaceAll(')', '}')
			r = r.replaceAll('sqrt', '\\sqrt');
			r = r.replaceAll('log', '\\log');
			function_result.innerHTML = r;
		} catch (e) {
			function_result.innerHTML =
				`<mjx-container class="MathJax CtxtMenu_Attached_0" jax="CHTML" display="true" tabindex="0" ctxtmenu_counter="4" style="font-size: 113.1%; position: relative;"><mjx-math display="true" class="MJX-TEX" aria-hidden="true" style="margin-left: 0px; margin-right: 0px;"><mjx-merror data-mjx-error="${e.message}"><mjx-mtext style="font-family: MJXZERO, serif;"><mjx-utext variant="-explicitFont" style="font-size: 88.4%; padding: 0.848em 0px 0.226em;">${e.message}</mjx-utext></mjx-mtext></mjx-merror></mjx-math><mjx-assistive-mml unselectable="on" display="block"><math xmlns="http://www.w3.org/1998/Math/MathML" display="block"><merror data-mjx-error="${e.message}"><mtext>${e.message}</mtext></merror></math></mjx-assistive-mml></mjx-container>`
		}

		// too soon, unneeded
		if (MathJax.typesetPromise === undefined) return;
		MathJax.typesetPromise();
	}
	update();
</script>